[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
yapf = "*"
pipenv-setup = "*"

[packages]
click = "*"
pyyaml = "*"
google-api-python-client = "*"
appdirs = "*"
ratelimit = "*"
bump2version = "*"

[requires]
python_version = "3.8"
