[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
yapf = "*"

[packages]
click = "*"
pyyaml = "*"
google-api-python-client = "*"
appdirs = "*"
pandas = "*"

[requires]
python_version = "3.8"
